body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  flex-direction: column;
  gap: 50px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  width: 400px;
  height: 400px;
}

.square {
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: #ccc;
  flex-wrap: wrap;
}

.square:hover {
  background-color: #3498db;
}

.black {
  background-color: black;
}
